.nav-link:hover:not(.active) {
    border: none;
}
.slider {
    display: none;
    justify-content: space-between;
}
.slider a {
    padding: .5rem 1rem;
    text-decoration: none;
    color: black;
    transition: .3s;
}
@media (max-width: 767px) {
    .nav-tabs {
        flex-wrap: nowrap;
        overflow: hidden;
    }
    .slider {
        display: flex;
    }
    .tab-content {
        margin-top: 2rem !important;
    }
}
.tab-pane {
    text-align: justify;
}
